@font-face {
    font-family: Farhang;
    src: url('farhangfarhang/webfonts/fonts/woff2/Farhang-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  

body{
    background-color:#0F172A  ;
    direction: rtl;
    font-family: "Farhang", sans-serif;
    overflow-x: hidden; 

}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login h1, .login h2{
    color: #f7f7f7;
    text-align: center;
}
.login h1{
    font-size: 3rem;
    color: darkgoldenrod;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.input label{
    color: #f7f7f7;
    font-family: "vazir";
}

.input button{
    background-color: #f7f7f7;
    color: #0F172A;
    padding: 0.5rem 1rem;
    font-family: "vazir";
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input input{

    font-size: 1.5rem;
    border-radius: 20px;
    background-color: darkgoldenrod;
}

input::placeholder{
    color: #0F172A;
    font-family: "vazir";
    font-size: 20px;
    padding: 5px;
}
.btn:hover{
    background-color: lightgrey;
    color: #0F172A;
}