
@font-face {
    font-family: "Farhang";
    src: url('farhangfarhang/webfonts/fonts/woff2/Farhang-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  

body{
    background-color: #F7F7F7 ;
    direction: rtl;
    font-family: "Farhang", sans-serif;

}

ul{
    list-style-type: none;


}
a{
    text-decoration: none;

}

* {
    
    box-sizing: border-box;
   
  }
  


.aside-icon{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    
}
.aside-icon img{
    width: 150px;
    
   
}


.aside{
    width: 250px;
    background-color:#201E43 ;
    position: fixed;
    overflow-y: auto;
    right: 0;
    top: 0;
    height: 100vh;
    scroll-behavior: smooth;

}

.aside::-webkit-scrollbar {
    display: none;
}


.main-aside{
    margin: 1rem;
}

.main-aside ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-aside  a{
    color:#9AA6B2;
}

.main-aside h4{
    color: #F7F7F7;
}
.main-aside a:hover{ 
    color: #F7F7F7;
    transition: 0.3s ease-in-out;

}
.mainSec{
    margin-right: 250px;
}
    



@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  
  .shake-icon {
    display: inline-block;
    animation: shake 0.5s ease-in-out infinite;
  }
  

.nav-sec{
    display: flex;
    justify-content: space-between;
}
.big-sec{
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
    background-color: #EEEEEE;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(125, 100, 125, 0.2);
}
.big-sec img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
    
.right-nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;

}
.left-nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;

}
.right-nav button{
    border: transparent;
    background-color: #201E43;
    border-radius: 10px;
    cursor: pointer;
}
.right-nav button:hover{
    background-color: #134B70;
    transition: 0.5s;
}
.right-nav input{
    border-radius: 20px;
    border: transparent;
    font-size: 20px;
    border: 1px solid #9AA6B2;
    padding: 8px;
    background-color: white;

}
.right-nav input::placeholder{
    font-family: "vazir";
    padding: 8px;
}

.right-nav input:hover{
    background-color: whitesmoke;
}
.right-nav a{
    color: #201E43;
}
.right-nav a:hover{
    color: #134B70;
    transition: 0.2s;
}




.dashboard{
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    gap: 1.5rem;
    margin: 3rem 1.5rem;    
}

        
    


.card{
    background-color: #F7F7F7;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;


}
.card1-welcome img{
    width: 150px;
    height: 100px;
}

.card1{
    grid-column: span 2;
    grid-row: span 2;
    padding: 0;
}
.card5{
    grid-column: span 3;
    grid-row: span 3;
}

.card6{
    grid-column: span 2;
    grid-row: span 2;
}

.card1-welcome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #C5BAFF;
    width: 100%;
    direction: ltr;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome h3{
    margin: 0;
    padding: 5pxmain
}
.welcome span{
    color:#9AA6B2 ;
}
.card1-sec2{
    padding: 20px;
}

.card1-btn button{
    background-color: #7469B6;
    border-radius: 20px;
    border: transparent;
    font-family: "vazir";
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 5px;
    color: #201E43;
}

.card1-btn button:hover{
    background-color: #5A4E9C;
    transition: 0.5s;
    color: #F7F7F7;
}

.card1-btn{
    display: flex;
    justify-content: center;
}


.card p{
    background-color: #C5BAFF;
    width:50%;
    border-radius: 10px;
    padding: 2px;

}

.card2 h3:hover, .card3 h3:hover, .card4 h3:hover{
    background-color: #C5BAFF;
    padding-right: 20px;
    /* width: 70%; */
    transition: 1s;
}

.card2, .card3, .card4{
    padding: 0;
    margin-top: 0;
    text-align: center;

}

/* .card2 p{
    padding: 10px;
} */

.p{
    display: flex;
    justify-content: center;
}
.p p{
    text-align: center;
}

.svg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.table{
    margin-right: 250px;
    margin-left: 3rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 3rem 1.5rem;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
.status-paid {
    color: green;
    background-color: #eaffea;
    padding: 5px;
    border-radius: 5px;
}
.status-refund {
    color: red;
    background-color: #ffecec;
    padding: 5px;
    border-radius: 5px;
}
.details-button {
    background-color:#5A4E9C;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.details-button:hover{
    background-color: #201E43;
    transition: 1s ease-in-out;
}

.table-title{
    margin-right: 250px;
}
.table-title h2{
    margin: 3rem 1.5rem;
    color: #201E43;
}

.title{
    margin: 3rem 1.5rem;
    color: #201E43;
}

footer{
    margin-right: 250px;
}

.footer{
    color: #201E43;
    background-color: #EEEEEE;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0 20px;
}


@media screen and (max-width: 600px){
    
    .mainSec{
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 390px;
        

    }
    .big-sec {
        border-radius: 1.5rem;
        margin: 0 auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
    }

    .nav-sec{
        width: 100%;
    }
    
    .aside{
        display: none;
    }
    .dashboard{
        display: flex;
        flex-direction: column;
        
        /* grid-template-columns: repeat(1, 1fr); */
         align-items: center;
        /* align-content: center;44
        justify-content: center; */
       
    }
    .card1{
        width: 100%;
    }
    .table-title{
        margin: 0;
    }

 
    
    
    .left-nav{
        display: none;
    }

    .card{
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    .right-nav{
        display: flex;
        margin-right: 1rem;
        margin-left: 1rem;
        
    }
    .right-nav input{
        font-size: 10px;
        
    }
    
   
    
    .table {
        width: 80%; 
        max-width: 600px; 
        font-size: 14px; 
        margin-right: 0;
        padding: 0;
        margin: 1rem auto;

    }

    .table table{
        width: 80%; 
        max-width: 600px; 
        font-size: 5px;
    }

    footer{
        display: flex;
       margin: 1.5rem auto;
        width: 100%;
        justify-content: space-between;

    }

   
    
   
    

}